[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
email-validator = "*"
python-decouple = "*"
gunicorn = "*"
pandas = "*"

Flask = ">=1.1"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-WTF = "*"
Flask-SQLAlchemy = "==2.*"
flask-script = "*"
flask-marshmallow = "*"
flask-babel = ">=2"
flask-security-too = ">=4.0.0"
flask-sqlalchemy-session = ">=1.1"

marshmallow-sqlalchemy = "*"
sqlalchemy-views = "*"
sqlalchemy = "<1.4"

waitress = "*"
requests = "*"
authlib = "*"

webargs = "*"
setuptools = "*"
simplejson = "*"
blinker = ">=1.4"
bcrypt = "*"
maya = "*"
pyyaml = "*"
deepdiff = "*"

mysqlclient = "*"
mysql-connector-python = "*"
sqlacodegen = "*"
pytz = "*"

shortuuid = "*"
pathlib = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.9.4"